
  /* @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap'); */

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    width: 100%;
}
.main{
    background-image: url(assets/images/bg.jpg);
    height: 90vh;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-size:max(1200px, 100vw);
}

.main .box{
    width: 100%;
    height: 90vh;
    opacity: 0.69;
    background-color: #000;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin:auto;
    height: 62px;
    font-family:'Martel Sans', sans-serif ;
    position: relative;
    top: 18px;
}

nav> span{
    width: 148px;
    color: red;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.villen{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding:0px 30px;
    line-height: 45px;
}
.villen> :first-child{
    font-size: 48px;
    text-align: center;
    font-weight: 900;
}
.villen> :nth-child(2){
    font-size: 22px;
    text-align: center;
}

.villen> :nth-child(3){
    text-align: center;
    font-size: 18px;
}
.separation{
    height: 7px;
    background-color: rgb(114, 113, 113);
    opacity: 0.4;
}
.btn{
    background-color: white;
}
.btns{
    display: flex;
    flex-direction: row;
    gap: 23px;
}
.eng-svg1{
    width: 20px;
    position: relative;
    top: 2px;
}
.eng-svg2{
    width: 20px;
    position: relative;
    top: 2px;
    left: 10px;
}
.btn-trans-nav{
    background-color:transparent;
    color: white;
    padding: 6px 12px;
    border-radius: 3px;
    border: 1px solid rgba(164, 164, 164,0.40);
    font-weight: 500;
    font-size: 15px;
}
.btn-red-nav{
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    padding: 6px 15px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
}
.regi-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.input-email{
    padding: 17px 3px 18px 20px;
    background-color: transparent;
    appearance: none;
    border: 1px solid rgba(164, 164, 164,0.70);
    border-radius: 3px;
    color: white;
    width: 433px;
    font-size: 15px;
    font-weight: 500;

}
::placeholder{
    font-weight: 500;
    font-size: 15px;
    color: rgb(185, 183, 183);
}
.btn-red{
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    padding:0.75rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
.btn-svg{ 
    width: 20px;
    position: relative;
    top: 3px;
    right: 10px;
}
.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: 70px auto;
    color: white;
}
.secImg{
    position: relative;
}
.secImg img{
    width: 35vw;
}
.secImg video{
    position: absolute;
    right: 77px;
    z-index: -1;
    width: 25vw;
    top: 84px;
}
section.first > div{
    display:flex;
    flex-direction: column;
}
.first> div> :first-child{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 9px;
}
section.first > div :nth-child(2){
    font-size: 27px;
    font-weight: 500;
    line-height: 33px;
}
.second {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: 70px auto;
    color: white;
}
section.second > div{
    display:flex;
    flex-direction: column;
}
.second> div> :first-child{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 9px;
}
.second .second-span> :nth-child(2){
    font-size: 27px;
    font-weight: 500;
    line-height: 33px;
}
.secImg2{
    position: relative;
}

section.second .download_div{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 259px;
    left: 100px;
    z-index: 1;
    height: 90px;
    width: 60%;
    border: 1px solid rgb(118, 117, 117);
    background-color: #000;
    border-radius: 10px;
    height: 100px;
}

section.second .download_div> :nth-child(1){
    height: 80px;
    width: 60px;
    position: relative;
    left:20px;
    top: 9px;
}
section.second .download-text{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 34px;
    top: 28px;
}
section.second .download_div> .download-text :nth-child(1){
    color: white;
    font-weight: 600;
}
section.second .download_div> .download-text :nth-child(2){
    color: #0071EB;
    font-weight: 400;
}
section.second .download_div> :nth-child(3){
    height: 41px;
    width: 40px;
    position: relative;
    left: 73px;
    top: 30px;
}

.secImg2> :first-child{
    width: 34vw;
}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: 70px auto;
    color: white;
}
.third .third-span{
    width: 50em;
}

.secImg3{
    position: relative;
}
.secImg3 video{
    position: absolute;
    right: 130px;
    top: 54px;
    z-index: -1;
    width: 26vw;

}
.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: 70px auto;
    color: white;
    gap: 26px; 
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.question:hover {
    background-color: #414141;
    color: white;
}

.question svg {
    filter: invert(1);
}

.question {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 25px;
    max-width: 72vw;
    margin: 7px auto;
    cursor: pointer;
}
.answer{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    max-width: 72vw;
    margin: 7px auto;
    line-height: 35px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;

}

.answer.active{
    max-height: 200px;
    padding: 25px 25px;
}
#icon{
    transition: transform 0.2s;
}
#icon.active{
    transform: rotate(45deg);
}

.villen2{
    position: relative;
    margin: 62px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.villen2> :nth-child(1){
    font-size: 23px;
    text-align: center;
}

.regi-btn2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
footer{
    color: #ffffffb3;
    max-width: 60vw;
    margin: 71px 0px 100px 300px;
}
footer span{
    margin: 53px 0px 20px 0px;
    display: inline-block;
}
footer span> :nth-child(1){
    color:#ffffffb3;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 90px;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 29px;
}
.footer-item span{
    margin: 10px 0px 20px 0px;
    display: inline-block;
    color:#ffffffb3;

}
.footer-item a{
    text-decoration:underline;
    text-decoration-thickness: 0;
    text-decoration-style:solid ;
    color:#ffffffb3;
    font-weight: 300;
}

@media screen and (max-width:300px){
    
}


@media screen and (max-width:768px) {
    body{
        width: 129%;
    }
    nav> span{
        width: 88px;
    }
    .btn-red-nav{
        font-size: 12px;
        padding: 10px 10px;
    }
    .btn-trans-nav{
        font-size: 12px;
        padding: 10px 10px;
    }
    .villen{
        
        position: relative;
        
    }
    .villen> :nth-child(1){
        font-size: 30px;
        text-align: center;
    }
    .villen> :nth-child(2){
        font-size: 18px;
    }
    .villen> :nth-child(3){
        font-size: 17px;
    }
    .first{
        flex-direction: column;
     
    }

    .first> .first-span> :nth-child(1){
        font-size: 34px;
        text-align: center;
        margin: 0 0 1rem 1rem;
        font-weight: 800;
    }
    .first> .first-span> :nth-child(2){
        text-align: center;
        font-size: 18px;
        line-height: 20px;
        margin: 0rem -63px 0;
        font-weight: 600;
    }
    .secImg img{
        width: 80vw;
        position: relative;
        left: 34px;
    }
    .secImg video{
        right: 57px;
        width: 57vw;
        top: 97px;
    }
    .separation{
      width: 100%;
    }
    .second{
        flex-direction: column-reverse;
        max-width: 117vw;
        width: 90px auto;
    }
    .second> .second-span> :nth-child(1){
        font-size: 34px;
        text-align: center;
        margin: 0 0 1rem 1rem;
        font-weight: 800;  
        max-width: 76vw;
    }
    .second> .second-span> :nth-child(2){
        text-align: center;
        font-size: 18px;
        line-height: 20px;
        margin: 0rem -63px 0;
        font-weight: 600;
    }
    .secImg2> :first-child{
        width: 70vw;
    }
    .download_div{
        position: relative;
        left: 30px;
    }
    .third{
        flex-direction: column;
    }
    .third> .third-span> :nth-child(1){
        font-size: 34px;
        text-align: center;
        margin: 0 0 1rem 1rem;
        font-weight: 800;
    }
    .third> .third-span> :nth-child(2){
        text-align: center;
        font-size: 18px;
        line-height: 20px;
        margin: 0rem -63px 0;
        font-weight: 600;
    }
    .secImg3 video{
        width: 51vw;
    }
    .fourth{
        flex-direction: column-reverse;
    }
    .fourth> .fourth-span> :nth-child(1){
        font-size: 34px;
        text-align: center;
        margin: 0 0 1rem 1rem;
        font-weight: 800;
    }
    .fourth> .fourth-span> :nth-child(2){
        text-align: center;
        font-size: 18px;
        line-height: 20px;
        margin: 0rem -63px 0;
        font-weight: 600;
    }
    .answer{
        font-size: 19px;
        line-height: 29px;
    }
    .answer.active{
        max-height: 250px;
    }
    .villen2> :nth-child(1) {
        font-size: 19px;
    }
    .villen2> .regi-btn2> :nth-child(2){
        width: 323px;
    }
    .footer{
        position: relative;
        right: 144px;
    }
    footer span{
        position: relative;
        right: 144px;
    }
    .footer-item span{
        position: relative;
        left: 21px;
        margin: 10px 0px 10px -32px;
        display: inline-block;
    }
}
